
* {
    
    margin-right: auto;
    margin-left: auto;
  }
  
body {
    text-align: center;
    background-color: #190124;
    letter-spacing: 2px;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
   
}

.image {
    margin-left:auto;
    margin-right: auto;
    width: 295px;
    height:275px; 
}

.heading {
    font-size: 60px;
    font-family: 'Passion One';
    margin-top: 3px;
}
  
.box:before,
.box:after {
    background-color: #ffffff;
    background-image: linear-gradient(235deg, #0306b8, #46096e,#9b006c );
    background-size: cover;
    bottom: -2px;
    content: '';
    left: -2px;
    position: absolute;
    align-items: center;
    text-align: center;
    right: -2px;
    top: -2px;
}

.box:before {
    z-index: -1;
}

.box {
    align-items: center;
    background-color: #030b25;
    justify-content: center;
    position: relative;
    width: 75%;
    margin-top: auto;
    margin-bottom: auto;
    padding-top:2px; 
    padding-bottom: 2px;
}

.box:after {
    filter: blur(20px);
    z-index: -2;
}

.content {
    color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.button-design {
    background-color: #cf0191;
    border-radius: 5px;
    color:white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;
}
.button-design:hover {
    color:#e0e0e0;
    background-color: #a30373;
  }

