.card-design {
    background-color: #d8d8d8;
}

.footer-design {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;   
}

.button-design {
    background-color: #cf0191;
    border-radius: 5px;
    color:white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;
}
.button-design:hover {
    color:#e0e0e0;
    background-color: #a30373;
  }

.heading {
    font-size: 55px;
    font-family: 'Passion One';
    font-weight: regular;
    margin-left: 5px;
    margin-top: auto;
    margin-bottom: auto;
    
}


 
.box:before,
.box:after {
    background-color: #ffffff;
    background-image: linear-gradient(235deg, #0306b8, #46096e,#9b006c );
    background-size: cover;
    bottom: -2px;
    content: '';
    left: -2px;
    position: absolute;
    align-items: center;
    text-align: center;
    right: -2px;
    top: -2px;
}

.box:before {
    z-index: -1;
}

.box {
    align-items: center;
    background-color: #030b25;
    justify-content: center;
    position: relative;
    width: 75%;
    margin-top: auto;
    margin-bottom: auto;
    padding-top:2px; 
    padding-bottom: 2px;
}

.box:after {
    filter: blur(20px);
    z-index: -2;
}


.svg-margin {
    vertical-align: top;
}