<!doctype html>
  <html lang="en-us">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="style.css" /> 
  </head>
  <body>
    <div class="box">
        <div class="content">
            
            <p style="float: left;">
                <img src="octocat.png" style="height:300px;width:300px;float:left;margin-right:15px;">
                <h1 style="font-size: 60px;font-family: 'Passion One';">GitStats
                </h1>
                Fetches you skills, details and repositories from your Github Profile.
                <br>
                Search users by Username: 
                <form class="form-inline" method="get" style="margin-top: 20px;">
                    <input class="form-control mr-sm-2" type="text" name="username" style="background-color: rgb(238, 238, 238); width:260px">
                    <br>
                    <button class="button-design" type="submit">Search</button>
                  </form>
            </p>
          

        </div>
    </div>
  </body>
  
  </html>