
* {
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
  }
  
body {
    text-align: center;
    background-color: #190124;
    display: flex;
    letter-spacing: 2px;
    justify-content: center;
    /* overflow: hidden; */
    padding:20px 20px;
  }
  
.box:before,
.box:after {
    background-color: #ffffff;
    background-image: linear-gradient(235deg, #0306b8, #46096e,#9b006c );
    bottom: -2px;
    content: '';
    left: -2px;
    position: absolute;
    align-items: center;
    text-align: center;
    right: -2px;
    top: -2px;
}

.box:before {
    z-index: -1;
}

.box {
    align-items: center;
    text-align: center;
    background-color: #030b25;
    justify-content: center;
    position: relative;
    width: 60%;
    padding:22px; 
}

.box:after {
    filter: blur(20px);
    z-index: -2;
}

.content {
    color: #ffffff;
    padding: 20px;
    display: flex;
flex-direction: column;
}



.button-design {
padding:5px;
background-color: #cf0191;
border-radius: 5px;
width: 100px;
color:white;
font-size: 20px;
font-family: Arial, Helvetica, sans-serif;
}